.navbar {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

.head_nav {
  height: 70px;
  width: inherit;
  padding: 0 3rem;
  background-color: #fff;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}

.head-link {
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(221, 235, 250);
  color: #048ef8;
}

.link {
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  color: rgb(221, 235, 250);
  color: black;
}

.link:focus {
  color: rgb(7, 7, 7);
  transform: scale(1.2);
}

a {
  text-decoration: none;
  color: #555;
}

.user {
  color: #048ef8;
  padding: 1rem;
  border: 1px solid #d3d2d2;
  border-radius: 50%;
  margin-right: 44px;
}

.category {
  color: #d3d2d2;
  transition: background-color 300ms;
}
